/*Universal selector*/
*{
    background-color:rgb(62, 232, 179); 
}
/*Comments in css file*/
    h1{
        background-color:red;
        color:rgb(188, 113, 15);
    }
    
/*element selector*/
h1,h2,p{
    background-color:blueviolet;
    color:rgb(213, 128, 166);
}

/*ID selector*/
#hero{
    background-color:rgb(62, 232, 179);
    color:white;
}
/*Class selector*/
.post{
    font-family: monospace;
    background-color:blueviolet;
    color:white;
    padding: 5px;
}
